{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="form-container">
        <h2 class="text-success">Login</h2>
        <hr>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.username.label_tag }}<br>
                {{ form.username }}<br>
                {{ form.username.errors }}
            </div>
            <div class="form-group">
                {{ form.password.label_tag }}<br>
                {{ form.password }}<br>
                {{ form.password.errors }}
            </div>
            <button type="submit" class="btn btn-success">Login</button>
        </form>
        <p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
    </div>
{% endblock %}  